@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Libre+Baskerville&display=swap');

#content
{
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
}

nav a
{
    text-align: center;
    background-color: #134074;
    color: #EEF4ED;
    text-decoration: none;
    padding: 35px;
    border-radius: 10px;
}

nav
{
    display: flex;
    justify-content: space-around;
}

nav a:hover
{
    background-color: #EEF4ED;
    color: #0B2545;
}

#hero
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box
{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg
{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 120px;
}

#hero-msg h1
{
    text-align: center;
}

#hero-msg h4
{
    margin-top: 425px;
    text-align: center;
}

#hero-img
{
    width:100%;
}

.button-box
{
    text-align: center;
}

#background
{
    height: 725px;
    background-color: #8DA9C4;
    color: #0B2545;
}

body
{
    background-color: #EEF4ED;
    color: #0B2545;
    font-family: "Comfortaa", Helvetica, sans-serif;
    font-size: 22px;

    margin: 0;
    padding: 0;
}

main section img
{
    box-sizing: border-box;
}

head
{
    background-color: #134074;
    color: #EEF4ED;
    display: grid;
    grid-template-columns: 150 auto;
}

footer
{

    font-size: 1.2em;
    background-color: #134074;
    color: #EEF4ED;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a
{
    font-size: 1.2em;
    background-color: #134074;
    color: #EEF4ED;
    padding: 25px 50px;
    margin-top: 200px;
    text-decoration: none;
}

footer p a:hover
{
    text-decoration: underline;
}

.card-img 
{
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 5px;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains
{
    width: 100%;
}

.book:hover, .join:hover, footer a:hover
{
    background-color: #EEF4ED;
    color: #0B2545;
}

footer .social img
{
    padding-top: 15px;
}

.book, .join
{
    background-color: #134074;
    color: #EEF4ED;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.rivers-card, .camping-card, .rapids-card
{
    margin: 200px 0;
}

.rivers-card
{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.camping-card
{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.rapids-card
{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

#background
{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 9;
}

.mountains
{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg
{
    background-color: #134074;
    color: #EEF4ED;
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 35px;

    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg p
{
    padding-bottom: 15px;
}

.home-title
{
    background-color: #134074;
    color: #EEF4ED;
    font-size: 2em;
    margin-top: 10px;
}

.home-grid
{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

h4
{
    background-color: #134074;
    color: #EEF4ED;
}

.icon
{
    width: 80px;
    padding-top: 10px;
}

#logo_link
{
    padding-top:5px;
    justify-self: center;
    align-self: center;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Libre Baskerville", "Times New Roman", "Serif";
}

h2
{
    margin: 0;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}


/*rates and dates pages stuff*/


#rates-and-dates-div
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    grid-gap: 20px;
    margin: 20px;
    justify-content: center;
}

.trip-box
{
    border-radius: 10px;
    background-color: #8DA9C4;
}

.trip-box img
{
    border-radius: 10px;
    width: 90%;
}

.trip-box h2
{
    margin-top: 25px;
}

.trip-box button
{
    background-color: #134074;
    color: #EEF4ED;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin: 25px;
    border-radius: 5px;
}

.trip-box button:hover {
    background-color: #EEF4ED;
    color: #134074;
    transform: scale(1.1);
}

.radio-date-box
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}